textarea, input, button { outline: none; }

body {
    background-color: black;
    margin: 0;
}

#p5_loading {
    color: white;
    display: flex;
    font-family: 'arial';
    font-size: 35px;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
}

#topLayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
}

#messages {
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#controls {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#controls button {
    font-size: 16px;
    margin: 0 10px;
}

#lockGrooveToggle:before {
    padding-right: 5px;
}

#lockGrooveToggle:before {
    content: '\25B6';
}
#lockGrooveToggle.active:before {
    content: '\25FC';
}

#soundBoardContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#soundBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.soundTriggerContainer {
    width: 50px;
}

.soundTrigger {
    background-color: black;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: 0 10px;
}

@keyframes activeButton {
  0% {
    color: var(--sound-trigger-color);
  }

  100% {
    color: rgb(255, 0, 0);
  }
}

.soundTrigger.active {
    border-color: rgb(255, 0, 0);

    animation-duration: 2s;
    animation-name: activeButton;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 130px;
    max-height: 650px;
    left: 0;
    z-index: 0;
}
