body {
    margin: 0;
}

canvas {
    margin-top: 50px;
}

#controls {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
