textarea, input, button { outline: none; }

@font-face {
    font-family: 'CoutureBold';
    src: url('fonts/COUTURE-Bold.woff') format('woff'),
         url('fonts/COUTURE-Bold.ttf') format('truetype');
}

body {
    background-color: black;
    /*font-family: 'CoutureBold';*/
    margin: 0;
    cursor: url(/images/cursor-pointer-inactive.png) 23 23, auto;
}

:root {
    --text-color: rgba(255, 255, 255, 0.3);
    --sound-trigger-color: rgba(255, 255, 255, 0.25);
    --sound-trigger-color-active: rgba(148, 21, 42, 1);
    --sound-trigger-default-size: 50px;
    --sound-trigger-active-size: 60px;
}

@keyframes activePathIcon {
    0% {
        fill: var(--sound-trigger-color);
    }
  
    100% {
        fill: var(--sound-trigger-color-active);
    }
}
  
@keyframes activeSoundTrigger {
    0% {
        width: var(--sound-trigger-default-size);
    }

    100% {
        width: var(--sound-trigger-active-size);
    }
}

#p5_loading {
    color: white;
    display: flex;
    font-family: 'CoutureBold';
    font-size: 35px;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
}

#topLayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 10;
}

#controls {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#controls button {
    background: transparent;
    margin-right: 20px;
    border: none;
    padding: 10px;
    cursor: url(/images/cursor-pointer-active.png) 23 23, auto;
}

#controls button:last-child {
    margin: 0;
}

#controls .icon {
    color: var(--text-color);
    font-size: 50px;
    width: 50px;
    height: 50px;
}

#soundBoardContainer {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

#soundBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.soundTriggerContainer {
    display: flex;
}

.soundTriggerContainer img {
    width: 100%;
    height: 100%;
}

.soundTrigger {
    background: transparent;
    border: none;
    margin: 0 10px;
    width: var(--sound-trigger-default-size);
    cursor: url(/images/cursor-pointer-active.png) 23 23, auto;
}

.soundTrigger path {
    fill: var(--sound-trigger-color);
}

.soundTrigger.active {
    animation-duration: 2s;
    animation-name: activeSoundTrigger;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

.soundTrigger.active path {
    fill: red;
    animation-duration: 2s;
    animation-name: activePathIcon;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#toggleRecord .icon:after {
    content: "⊚";
}

#toggleRecord.active .icon:after {
    content: "⇝";
    color: red;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

#canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 0;
}